:root {
    --color-primary: theme('colors.primaryAccent.light');
    --color-secondary: theme('colors.secondaryAccent.light');
    --color-neutral: theme('colors.neutral.light');
    --color-background: theme('colors.background.light');
    --primary-accent-light: #00F5D4;
    --secondary-accent-light: #B5179E;
    --primary-accent-dark: #00FFFF;
    --secondary-accent-dark: #FF6B6B;
}

@media (prefers-color-scheme: dark) {
  
}
