---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Technologies from '../components/Technologies.astro';
import Services from '../components/Services.astro';
import ProblemsSolutions from '../components/ProblemsSolutions.astro';
import UseCases from '../components/UseCases.astro';
import Pipeline from '../components/Pipeline.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="Thrive | AI/ML and LLM Solution Specialists"
        description="Thrive is an AI/ML and LLM solution specialist company that specializes in providing cutting-edge AI solutions to businesses of all sizes.">
  <main class="container mx-auto px-4 md:px-6">
    <section class="flex flex-col gap-4">
      <Hero />
    </section>
    <section class="flex flex-col gap-4 hidden">
      <Technologies />
    </section>
    <section class="flex flex-col gap-4 hidden">
      <Services />
    </section>
    <section class="flex flex-col gap-4 hidden">
      <ProblemsSolutions />
    </section>
    <section class="flex flex-col gap-4 hidden">
      <UseCases />
    </section>
    <section class="flex flex-col gap-4 hidden">
      <Pipeline />
    </section>
    <section class="flex flex-col gap-4 hidden">
      <CallToAction />
    </section>
  </main>
</Layout>

<style>

</style>
