---
---

<div class="contact">
    <h2 class="text-4xl font-bold">Contact Us</h2>
    <p class="text-sm text-gray-500">We'd love to hear from you!</p>
    <button class="bg-primaryText-light dark:bg-primaryText-dark text-white px-4 py-2 rounded-md">Contact Us</button>
</div>