---
import Anthropic from '/public/logos/partners/anthropic.svg';
import Gemini from '/public/logos/partners/gemini.svg';
import OpenAI from '/public/logos/partners/openai.svg';
import Google from '/public/logos/partners/google.svg';
import HuggingFace from '/public/logos/partners/huggingface.svg';
import Meta from '/public/logos/partners/meta.svg';
import Nvidia from '/public/logos/partners/nvidia.svg';


const partners = [
  { name: 'Anthropic', url: 'https://anthropic.com', icon: Anthropic },
  { name: 'Gemini', url: 'https://google.com', icon: Gemini },
  { name: 'OpenAI', url: 'https://openai.com', icon: OpenAI },
  { name: 'Google', url: 'https://google.com', icon: Google },
  { name: 'HuggingFace', url: 'https://huggingface.co', icon: HuggingFace },
  { name: 'Meta', url: 'https://meta.com', icon: Meta },
  { name: 'Nvidia', url: 'https://nvidia.com', icon: Nvidia },
];
---

<div>
  {partners.map((partner) => (
    <partner.icon width={64} height={64} fill="currentColor" />
  ))}
</div>
