---
import GoogleTagManager from '../GoogleTagManager.astro';

interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <GoogleTagManager area="head" />
    <link rel="sitemap" href="/sitemap-index.xml" />
</head>