---
import '../styles/base.css';

import GoogleTagManager from '../components/GoogleTagManager.astro';
import Head from '../components/common/Head.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} />
	<body>
		<GoogleTagManager area="body" />
		<Header />
		<slot />
		<Footer />
	</body>
</html>
